{% extends "layout.html" %}

{% block pageTitle %}
Service catalogue
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Service catalogue
        </h1>

        <p>
          Our service catalogue covers the following areas:
          <div class="govuk-grid-row gc-promo-group">
            <div class="govuk-grid-column-one-half gc-promo-group__item">
              <div class="gc-promo app-promo--grey">
                <a class="gc-promo__link-wrapper" href="/hub_services/">
                  <div class="gc-promo__content">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Hub services</h3>
                    <p class="gc-promo__description"></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="govuk-grid-column-one-half gc-promo-group__item">
              <div class="gc-promo app-promo--grey">
                <a class="gc-promo__link-wrapper" href="/information_services/">
                  <div class="gc-promo__content">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Information services</h3>
                    <p class="gc-promo__description"></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="govuk-grid-row gc-promo-group">
            <div class="govuk-grid-column-one-half gc-promo-group__item">
              <div class="gc-promo app-promo--grey">
                <a class="gc-promo__link-wrapper" href="/transactional_services/">
                  <div class="gc-promo__content">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Transactional services</h3>
                    <p class="gc-promo__description"></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="govuk-grid-column-one-half gc-promo-group__item">
              <div class="gc-promo app-promo--grey">
                <a class="gc-promo__link-wrapper" href="/web_services/">
                  <div class="gc-promo__content">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Web services</h3>
                    <p class="gc-promo__description"></p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </p>
  </main>
</div>


{% endblock %}