
{% extends "layout.html" %}

{% block pageTitle %}
  Internal Services
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Internal Services
      </h1>
 
      <p>
        Internal services cover:
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="hub_services/">Hub services</a>
          </li>
          <li>
           <a class="govuk-link" href="information_services/">Information services</a>
          </li>
          <li>
            <a class="govuk-link" href="transactional_services/">Transactional services</a>
          </li>
          <li>
            <a class="govuk-link" href="web_services/">Web services</a>
          </li>
        </ul>
      </p>

      
  </main>
</div>


{% endblock %}
