
{% extends "layout.html" %}

{% block pageTitle %}
  Internal Services
{% endblock %}

{% block beforeContent %}
<a href="/home/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Web Services
        <hr class="govuk-section-break govuk-section-break--invisible">
             </h1>
      
      <p>
        Web services cover:
        {% for i in web_services.items %}
        <ul class="govuk-list">
          <li>
            <a href="/web_services/detail_page/{{ i.fields.slug }}">
              {{i.fields.title}}</a>
              {% endfor %}
          </li>
        </ul>
      </p>
    </div>
  </div>

{% endblock %}
