{% extends "layout.html" %}

{% set detail_page = detail_page.items[0] %}

{% block pageTitle %}
{{detail_page.fields.title}}
{% endblock %}

{% block pageDescription %}
{{detail_page.fields.summary}}
{% endblock %}

{% block pageMeta %}
<meta property="og:type" content="summary" />
<meta property="og:title" content="{{detail_page.fields.title}}" />
<meta property="og:description" content="{{detail_page.fields.summary}}" />
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/hub_services/" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                <h1 class="govuk-heading-l">{{detail_page.fields.title}}</h1>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
    
                <h2 class="govuk-heading-m">Summary</h2>
                <p class="govuk-body-l">{% markdown %}{{detail_page.fields.summary}}{%endmarkdown%}</p>
    
                <h2 class="govuk-heading-m">User stories</h2>
                <p class="govuk-body-l">{% markdown %}{{detail_page.fields.userStories}}{%endmarkdown%}</p>
    
                <h2 class="govuk-heading-m">Features</h2>
                <p class="govuk-body-l">{% markdown %}{{detail_page.fields.features}}{%endmarkdown%}</p>
    
                <h2 class="govuk-heading-m">Links</h2>
                <p class="govuk-body-l">{% markdown %}{{detail_page.fields.links | safe}}{%endmarkdown%}</p>
    
            </div>
    
            <div class="govuk-grid-column-one-third">
                <div class="app-related-items">
    
                    <h2 class="govuk-heading-m">Service information</h2>
                    <p class="govuk-body-l">{% markdown %}{{detail_page.fields.serviceInformation | safe}}{%endmarkdown%}
                    </p>
    
                    <!-- <div class="gc-secondary"></div> -->
    
                </div>
            </div>
    
        </div>
    </div>

{% endblock %}