
{% extends "layout.html" %}

{% block pageTitle %}
  Internal Services
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a personal functional licence (PFL)
        <hr class="govuk-section-break govuk-section-break--invisible">
        <a href="/transactional_services/" class="govuk-back-link">Back</a>
      </h1>
 
      <p>
        Transactional services cover:

      </p>

     </div>
</div>

{% endblock %}
