
{% extends "layout.html" %}

{% block pageTitle %}
  Internal Services
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Transactional Services
        <hr class="govuk-section-break govuk-section-break--invisible">
        <a href="/home" class="govuk-back-link">Back</a>
      </h1>
 
      <p>
        Transactional services cover:
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="/transactional_services/address_management">Address management</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/annual_games_testing">Annual games testing</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/apply_for_a_pfl">Apply for a personal functional licence (PFL)</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/audit_hub">Audit hub</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/domain_names">Domain names</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/eadmin">eAdmin</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/eservices_personal">eServices for personal licence (PL) holders</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/esupport">eSupport</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/games_register">Games register</a>
          </li>
          <li>
		  <a class="govuk-link" href="/transactional_services/gc_portal">GC portal</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/invoices_and_online_payments">Invoices and online payments</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/key_event">Key event</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/lccp_reporting">LCCP reporting</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/licening_authority_returns">Licensing authority (LA) returns</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/manage_and_maintain">Manage and maintain your personal licence</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/operator_application_annex_a">Operator application - Annex A</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/operator_application_ol">Operator application - OL</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/operator_application_pml">Operator application - PML</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/processing_service">Processing service</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/recuritment_portal">Recuritment portal (external)</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/regulatory_returns">Regulatory returns</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/sad_process">SAD process</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/security_autit_submissions">Security audit submissions</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/trading_names">Trading names</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/user_management">User management</a>
          </li>
          <li>
            <a class="govuk-link" href="/transactional_services/variation_management">Variation management</a>
          </li>
        </ul>
      </p>

     </div>
</div>

{% endblock %}
