
{% extends "layout.html" %}

{% block pageTitle %}
  Internal Services
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Transactional Services
        <hr class="govuk-section-break govuk-section-break--invisible">
        <a href="/home" class="govuk-back-link">Back</a>
      </h1>
 
      <p>
        Transactional services cover:
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="/information_services/fournlc_website">4NLC website</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/absg">ABSG</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/download_your_licence">Download your licence</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/fee_calculator_frontend">Fee calculator frontend</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/premises_register">Premises register</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/public_register_operator">Public register - Operator</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/public_register_personal">Public register - Personal</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/reducing_gambling_harms">Reducing gambling harms</a>
          </li>
          <li>
            <a class="govuk-link" href="/information_services/sanctions_register">Sanctions register</a>
          </li>
        </ul>
      </p>

     </div>
</div>

{% endblock %}
